import(ROTS, limma, affy, genefilter, preprocessCore)
importFrom(aroma.affymetrix, AffymetrixCdfFile)
importFrom(aroma.affymetrix, AffymetrixCelSet)
importFrom(aroma.affymetrix, QuantileNormalization)
importFrom(aroma.affymetrix, getCellIndices)
importFrom(aroma.affymetrix, getData)
importFrom(aroma.core, process)
importFrom(aroma.core, nbrOfUnits)
export(PECA_AffyBatch, PECA_CEL, PECA_tsv, PECA_df, PECASI)
